html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Open Sans', serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* added css */


/* nav */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position:  fixed;
    width: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.98);
    /* opacity: 98%; */
    color: #444444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    height: 126px;
    font-family: 'Open Sans';
    font-size: 20px;
}
.nav-div {
    display: flex;
    padding: 0 50px;
    max-width: 960px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    
    color: black;
    text-decoration: none;
}

.nav_logo {
    height: 100%;
    width: 150px;
}

/* end nav */

/* footer */
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    background: white;
    background-color: #006699;
    color: white;
    /* z-index: 200; */
    height: 400px;
    font-family: 'Open Sans';
    font-size: 18px;
}
.footer-nav {
    display: flex;
    margin-top: -40px;
    padding: 0 30px;
    max-width: 430px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer_link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer_logo {
    height: 200px;
    max-width: 430px;
    width: 100%;
    margin: 0;
    padding: 10px;
}
.footer_logo Link{
    margin: 0;
    padding: 0;
}
.footer_logo img {
    border-radius: 8px;
    margin: 0;
    padding: 0;
}
.footer_copyright {
    text-align: center;
    background-color: #006699;
    color: white;
}

/* end footer */

/* Universal */

.shadow_1 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.no_show {
    display:none !important;
}

.max_width {
    max-width: 960px;
    margin: auto;
}

.box_shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.box_shadow2 {
    box-shadow: 0 -3px -6px rgba(0, 0, 0, 0.05);
}

.hero_text {
 color: #444444;
 font: Open Sans;
 font-size: 80px;
 font-weight: bold;
 text-align: center;
 margin-top: 60px;
}

.double_content {
    margin-top: 40px;
    display: flex;
    align-items: center;
}



.text_card {
    background-color:#F2F9FC; 
    max-width: 460px;
    width: 100%;
    /* height: 440px; */
    padding: 20px;
    margin: 20px;
}

.text_card h4 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: larger;
    color: #444444;
}
.indent {
    border-left: 10px solid #006699 ;
    padding: 10px 20px 10px 20px;
}
.indent_blue {
    border-left: 10px solid #21B3FB ;
    padding: 10px 20px 10px 20px;
}
.indent_green {
    border-left: 10px solid #008000 ;
    padding: 10px 20px 10px 20px;
}

.media_card {
    background-color:#F2F9FC; 
    max-width: 640px;
    width: 100%;
    /* height: 360px; */
    /* padding: 80px; */
    margin: 20px;
}

/* testimonials */

.testimonials {
    /* height: 800px; */
    width: 100%;
    margin: auto;
    background-color: #F2F9FC;
}

.testimonials_text {
   border-top: 20px solid #E64D00; 
   text-align: center;
   max-width: 425px;
   padding: 3% 1rem;
   margin: auto;
}

.testimonials_bar {
    height: 140px;
    width: 100%;
    
}

.reviewers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px 25px 0 0;
    height: 100%;
    max-width: 960px;
    background-color: #ffffff;

}


.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: rgb(192, 192, 172); */
    font-size: larger;
    padding: 10px;
}
.profile:hover {
    /* transform: scale(0.95); */
    background-color:  #F2F9FC;
    cursor: pointer;
    transition: .3s;
}
.profile_name {
    padding-left: 18px;
}
.profile_image {
    width: 100px;
    height: 100px;
}
.profile_image img {
    border-radius: 100px;
}


.active_profile {
    background-color:  #F2F9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: rgb(192, 192, 172); */
    font-size: larger;
    padding: 10px;
}

/* end testimonials */

/* services section */

.services {
    display: flex;
    flex-direction: row;
}
.service {
    min-width: 300px;
    margin: 10px;
    background-color: #F2F9FC;
}
.service:hover {
    cursor: pointer;
}

.service p {
    margin: 0;
}

.service_head {
    display: flex;
    background-color: #0071AD;
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    transition: .3s;
}
.sh_active {
    background-color: #0099E6 !important;
}

.service_summary {
    padding: 10px;
}

.service_content {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    margin: 50px 10px;
    background-color: #F2F9FC;
}

.placeholder_img {
    margin: 60px 20px;
    min-width:320px;
    min-height: 380px;
    background-color:#0099E6;
}
.production_img {
    margin: 60px 20px;
    min-width:360px;
    min-height: 380px;
    /* background-color:#0099E6; */
}
.production_img_nz {
    margin: 0px 100px;
    min-width:360px;
    min-height: 380px;
}

.service_content_body {
    padding: 60px 20px;
}

.coverage {
    display: flex;
    flex-direction: row;
    justify-content: right;
    min-width: 300px;
    margin: 50px 10px;
    /* background-color: #F2F9FC; */
}
.coverage_div {
    max-width: 380px;
    background-color: #F2F9FC;
    padding: 40px 20px;
}
.coverage_div a {
    color: hsla(0, 0%, 0%, 0.8);
    text-decoration: none;
}

/* index */

.hero_text2 {
color: #0175A8;
 font: Open Sans;
 font-size: 145px;
 font-weight: 400;
 text-align: center;
 margin-top: 60px;
 margin-bottom: -90px;
}

.indx_services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px auto;
}
.indx_services h2 {
    font-weight: 300;
}

.place_serviceimg {
    width: 240px;
    max-height:240px;
    background-color: #0099E6;
    border-radius: 300px;
}
.place_serviceimg img {
    border-radius: 800px;
    max-height:240px;
}

.indx_service{
    max-width: 240px;
    text-align: center;
}

.why {
    height: 800px;
    width: 100%;
    background-color: #0099E6;
}

.why_title {
    text-decoration: underline;
    color: white;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    padding-top: 65px;
}

.expect {
    height: 680px;
    width: 100%;
    background-color: #ffffff;
}

.placeholder_img2 {
    margin: 60px 20px;
    min-width:480px;
    min-height: 400px;
    /* background-color:#0099E6; */
}

.flex_col_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large_btn {
    background-color:#0099E6;
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    /* padding: 20px 80px; */
    max-width: 350px;
    width: 100%;
    min-height: 60px;
    height: 100%;
    margin: auto;
}
.large_btn:hover {
    cursor: pointer;
}

.blend_bar {
    height: 60px;
    background-color: #D9F0FB;
    width: 100%;
}

.indx_testimonials {
    background-color: #006699;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_card {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100%; */
    max-height:500px;
    /* width: 100%; */
    background-color: #FFFFFF;
    opacity: 90%;
    font-size: larger;
    /* padding: 10px; */
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .6s;
    
}
.profile_card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    opacity: 100%;
}
.profile_active {
    opacity: 100%;
    margin-top: 0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.profile_card p {
    padding: 10px;
    max-width: 300px;
}

.profile_image_placeholder {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    background-color: #0099E6;
    margin-top: -70px;
}
.profile_image_placeholder img {
    border-radius: 100px;
    max-height: 140px;
}

.indx_testimonials_body {
    font-size: 16px;
}

/* contact1 */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
     /* background-attachment: absolute; */
     
     /*
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    -webkit-perspective: 300px;
    perspective: 300px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0,102,153,90%);
    padding: 25px 50px;
    border-radius: 30px;
    max-width: 450px;
}

.contact_form p {
    font-size: 18px;
    align-self: justify;
    margin-top: 10px;
    padding: 0 5px;
}
.contact_form label {
    padding-top: 10px;

}
.contact_form input {
    padding: 4px;
    border-radius: 4px;
    margin: auto;
    width: 100%;
    border: none;
}
.contact_form textarea {
    padding: 4px;
    border-radius: 4px;
    border: none;
}

.contact_form h2 {
    font-weight: 400;
}

.contact_btn {
    opacity: 90%;
    background-color:#0099E6;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 20px;
    /* padding: 20px 80px; */
    max-width: 350px;
    width: 100%;
    min-height: 75px;
    height: 100%;
    border: none;
    margin-top: 10px;
    margin: auto;
}
.contact_btn:hover {
    cursor: pointer;
}

/*contact2*/

.contact_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    max-width: 650px;
    background-color: #F2F9FC;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.contact_us_body {
padding: 30px;
}
.contact_us_details {
    background-color: #006699;
    color: white;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}


.contact_form2 {
    display: flex;
    flex-direction: column;
    background-color: #F2F9FC;
    margin: 50px auto;
    padding: 25px 40px;
    max-width: 720px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    transition: 1s;
    
}

.contact_form2:hover {
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.contact_form2 label {
    padding-top: 20px;
}

.contact_form2 p {
    font-size: 17px;
    align-self: justify;
    padding-top: 20px;
}

.contact_btn2 {
    opacity: 90%;
    background-color:#0099E6;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 20px;
    /* padding: 20px 80px; */
    /* max-width: 350px; */
    width: 100%;
    min-height: 75px;
    height: 100%;
    border: none;
    margin-top: 10px;
}
.contact_btn2:hover {
    cursor: pointer;
}

.contact_form2 input {
    padding: 4px;
    border-color: rgba(0,153,230,0.2);
}
.contact_form2 textarea {
    padding: 4px;
    border-color: rgba(0,153,230,0.2);
}


/* test parallax */

.parallax {
    perspective: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.bg1 {
    background: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg)
}

.parallax__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-200px) scale(2);
}

.test {
    height: 800px;
    background: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
}
.test2 {
 background-color: lightskyblue;
 width: 400px;
 height: 600px;
}


.nav_menu_btn {
    display:none;
}

.nav_menu_closed {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 126px;
    transition: .2s;
    right: -70vw;
    width: 70vw;
    height: 100vh;
    background-color: #006699;
    overflow: hidden;
}


@media (max-width: 750px) {
    /*about mobile*/
    .double_content {
        flex-direction: column;
    }
    .profile {
        display: none;
    }
    .nav_link {
        display:none;
    }
    .nav_menu_btn {
        display: block;
    }
    .nav_menu {
        display: flex;
        position: absolute;
        transition: .2s;
        transition-timing-function: cubic-bezier(0.1, 0.7, 0.9, 1);
        z-index: 10;
        top: 126px;
        right: 0;
        width: 70vw;
        height: 100vh;
        background-color: #006699;
        /* opacity: 90%; */
    }
    .nav_dim {
        display: flex;
        position: absolute;
        z-index: 5;
        top: 126px;
        left: 0;
        transition: .2s;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 20%;
    }

    
}

@media (max-width: 500px){
    .hero_text {
        font-size: 60px;
    }
    .footer {
        font-size: 15px;
    }
}